@model subscription_system.Areas.Admin.Models.ViewModel.AdminPlanHistoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminPlanHistoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
