@model IEnumerable<subscription_system.Areas.Admin.Models.ViewModel.AdminPlanHistoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Plan: @ViewData["plan"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
